<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <ul class="navbar-nav me-3">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
